body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#criarconta-button {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#criarconta-button:hover {
    background-color:  rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200px;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

.quemsomos {
    position: absolute;
    left: 109vh;
    top: 23vh;
}

.quemsomos-txt{
    position: relative;
    left: 100vh;
    top: 13vh;
}

.endereco {
    position: absolute;
    left: 109vh;
    top: 50vh;
}

.endereco-txt {
    position: relative;
    top: 30vh;
    left: 100vh;
}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 480px;
    right: 120vh;
    top: 20vh;
    position: absolute;
}

form {
    flex-direction: column;
    display: flex;
    width: 70%;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type='submit'] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color:  white;
    font-weight: bold;
}

form [type='submit']:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/** ABA SERVIÇOS **/

.site1 {
    position: relative;
    left: 15vh;
    top: 3vh;
    width: 500px;
}

#sitedev { 
    color: red;
}


/** reponsividade **/

@media screen and (max-width: 800px){
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }

    .quemsomos {
        position: inherit;
    }

    .quemsomos-txt {
        position: inherit;
    }

    .endereco {
        position: inherit;
    }
    
    .endereco-txt {
        position: inherit;
    }

}


@media screen and (max-width: 760px){
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }

    .quemsomos {
        position: inherit;
    }

    .quemsomos-txt {
        position: inherit;
    }

    .endereco {
        position: inherit;
    }
    
    .endereco-txt {
        position: inherit;
    }

}

@media screen and (max-width: 500px){
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 28px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }

    .quemsomos {
        position: inherit;
    }

    .quemsomos-txt {
        position: inherit;
    }

    .endereco {
        position: inherit;
    }
    
    .endereco-txt {
        position: inherit;
    }

}

@media screen and (max-width: 400px){
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 20px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }

    .quemsomos {
        position: inherit;
    }

    .quemsomos-txt {
        position: inherit;
    }

    .endereco {
        position: inherit;
    }
    
    .endereco-txt {
        position: inherit;
    }

}